@media screen and (max-width: 640px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin-top: 5px;
    width: 190px;
  }
}

@media screen and (min-width: 1000px) {
  .sinopse {
    width: 50%;
  }
}
